Android/
AndroidStudioProjects/
ansible/
Audio/
CCMEI-39328996000102.pdf
cursos.alura.iwa
data/
default-soapui-workspace.xml
Desktop/
Discord/
Documents/
Downloads/
eclipse-workspace/
estoquewssoap-soapui-project.xml
fetches/
Games/
git/
idea
IdeaProjects/
linux_commands.iwa
local/
Makefile
mariadb-access.log
Music/
Pictures/
Public/
R/
sample-fetches/
SH_CIAware/
slack-desktop/
SmartBear/
soapui-settings.xml
SoapUI-Tutorials/
Suckless/
Templates/
unimed/
Unity/
UnityProjects/
Videos/
VirtualBox VMs/
xampp/
.aesh_aliases
.android/
.AndroidStudio4.0/
.anyconnect
.anydesk/
.astah
.bash_*
.bashrc
.cache
.cmake/
.conda
.config/bashtop/error.log
.config/mpd/mpd.log
.config/mpd/mpd.pid
.config/nvim/.netrwhist
.config/pulse/*-device-volumes.tdb
.config/ranger/ranger_icon_plugin
.dmrc
.docker/
.dotnet/
.eclipse/
.electron-gyp/
.emulator_console_auth_token
.gnome/
.gnupg/
.gpphoto/
.gradle/
.h2.server.properties
.icons/
.install4j
.java/
.jboss-cli-history
.kingsoft/
.lemminx
.lesshst
.local/
.lyrics/
.m2/
.mail
.mozilla
.mysql_history
.npm/
.pki/
.pulse-cookie
.pylint.d/
.python_history
.screenlayout/
.soapuios/
.ssh/
.steam/
.steampath
.steampid
.stremio-server/
.swt/
.themes/
.thumbnails/
.tooling/
.vagrant.d/
.var/
.viminfo
.vscode/
.vscode-oss/
.wget-hsts
.wine/
.Xauthority
.xprofile
.xsession-errors
.xsession-errors.old
