# html scope
snippet html:5 "html code scope" b
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>${1:TITLE}</title>
</head>
<body>
	$2
</body>
</html>
endsnippet
