Android Open Source Project/
audacious/
BraveSoftware/
calcurse/
cava/
cef_user_data/
Code/
Code - OSS/
dconf/
discord/
Electron/
eog/
evolution/
falkon/
frogminer/
gedit/
GIMP/
gnome*/
goa*/
google-chrome/
htop/
ibus/
kazam/
Kingsoft/
kolourpaintrc/
kritadisplayrc
kritarc
libfm/
libreoffice/
libvirt/
lutris/
nautilus/
neofetch/
opera/
opera-developer/
pcmanfm/
procps/
qutebrowser/
qtws_Netflix/
session/
Slack/
spotify/
terminator/
totem/
unity3d/
UnityHub/
user-dirs.*
VirtualBox/
vlc/
wal/
yay/
